.App {
  min-height: 100vh;
  background: palevioletred;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}