.column {
  background-color: rebeccapurple;
  align-items: flex-start;
  justify-content: center;
  min-height: 20rem;
  width: 30%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: antiquewhite;
  border: solid 3px transparent;
}

.column.dropping {
  border-color: antiquewhite;
}

.header-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 10px;
  background-color: palevioletred;
  border-radius: 3px;
  border: none;
  padding: 3px;
  width: 100px;
  color: antiquewhite;
}

button:hover {
  background-color: darkorchid;
  cursor: pointer;
}

.hidden {
  display: "none";
}
